p {
    font-size: 13.5px;
}

body {
    margin: 20px 40px;
}

a:visited {
    color: inherit;
}
li {
     font-size: 13.5px;
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #fff;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.home-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.home-button {
    font-size: 12px;           /* Adjusts the size of the icon */
    color: #a6caca;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.home-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}




.hike-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #fff;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.hike-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.hike-button {
    font-size: 12px;           /* Adjusts the size of the icon */
    color: #a6caca;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.hike-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}



.notes-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #fff;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.notes-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.notes-button {
    font-size: 12px;           /* Adjusts the size of the icon */
    color: #a6caca;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.notes-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}



.diary-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #000000;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.diary-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.diary-button {
    font-size: 12px;           /* Adjusts the size of the icon */
    color: #0f1414;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.diary-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}



.seminar-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #043835;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.seminar-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.seminar-button {
    font-size: 10px;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.seminar-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}



.food-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #043835;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.food-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.food-button {
    font-size: 10px;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.food-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}



.class-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #043835;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.class-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.class-button {
    font-size: 10px;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.class-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}



.user-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dce7e7;  /* Dark gray background */
    color: #043835;  /* White text */
    text-decoration: none;  /* Remove underline from link */
    border-radius: 5px;  /* Rounded corners */
    margin-top: 20px;  /* Space at the top */
    text-align: center;
}

.user-button:hover {
    background-color: #e1eded;  /* Slightly lighter gray for hover effect */
}


.user-button {
    font-size: 10px;               /* Color of the icon */
    text-decoration: none;    /* Removes underline */
    padding: 2px;             /* Adds space around the icon */
}

.user-button:hover {
    color: #ecdddd;               /* Changes color when hovering */
}


video {
    width: 500px; /* You can set this to your desired width */
    height: 300px; /* You can set this to your desired height */
}

